.ToDoCreate {
  font-size: 50px;
  font-weight: bold;
  color: #fafafa;
  height: 64px;
  width: 64px;
  background-color: #61dafa;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transform: rotate(0);
  transition: 0.3s ease;
}

.ToDoCreate:hover {
  transform: rotate(224deg);
}
